{{>head}}
{{>navbar}}
    <div class="row">
        <div class="col">
            <h1>La linda abi</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt modi assumenda vel tenetur iure praesentium temporibus delectus quam fugit ipsum necessitatibus, autem ab sequi ex perspiciatis quos deleniti. Rem, odit!</p>
        </div>
        <div class="col">
            <img src="assets/img/abi.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
{{>footer}}